@page
@using CoffeeCrazy.Models
@using CoffeeCrazy.Models.Enums
@model CoffeeCrazy.Pages.Jobs.IndexModel
@{
    
}
<header>Job Overblik</header>

 <body>
     <section></section>
     <section></section>
 </body>
 

@foreach (var group in Model.GroupedJobs)
{
    <div class="job-group">
        <h3>@group.Key</h3>
        <ul>
            @foreach (var job in group.Value)
            {
                <li>@job.Description</li>
            }
        </ul>
    </div>
}

